<div>
    <img src="~/Images/header.jpg" id="ImgNit" alt="header" width="100%" height="30%" />
    <marquee style="font-size:x-large;color:crimson;" behavior="alternate">      .NET, Java, Python, Hadoop, Data Science, DevOps, etc.</marquee>

</div>
