@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("Validate", "Account"))
        {
            @Html.Label("User Name", new { @class = "text-info" });<br />
            @Html.TextBox("txtName", new { placeholder = "Enter Name" });<br />
            @Html.Label("Password:", new { @class = "text-info" });<br />
            @Html.Password("txtPwd", "", new { placeholder = "Enter Password" });<br /><br />

            <input type="submit" class="btn btn-success" value="Login" />
            <input type="reset" class="btn btn-danger" value="reset" />

        }
    </div>
</body>
</html>
