
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div> 
        <h2>Hello @Session["User"], Welcome to this Site</h2>
    </div>
</body>
</html>
